$primary: #FFBC00;
$blue: #133196;
@import "../../../../node_modules/bulma/bulma";

body {
    color: #363636;
}

.main-header {
    background-color: $primary;
    background-size: cover;
    background-position: center;

    .hero-body h2 {
        margin-bottom: 3rem;
    }

    .hero-body {
        padding-top: 6rem !important;
        padding-bottom: 6rem !important;
    }
}

.heading {
    text-transform: none !important;
    font-weight: bold !important;
}

.heading h2 {
    font-size: 1.75rem;
}

.is-bold {
    font-weight: bold !important;
}

.small-column {
    .body {
        max-width: 500px;
        margin: auto;
    }
}

a:not(.button) {
    color: #333333;
    text-decoration: underline;
}

.content h4 {
    font-weight: bold !important;
}

.heading h2, .content h2 {
    font-size: 2rem !important;
}

a.nav-item:not(.button) {
    color: #363636 !important;
    font-weight: bold;
    text-decoration: none;
}

.contact-us p {
    margin-bottom: 0 !important;
}

.logo {
    width: 100px;
}

.big-logo {
    width: 400px;
}
